body {
	background-color: black;
}

header {
	align-items: center;
	background-color: hotpink;
	display: flex;
	justify-content: space-between;
	grid-column: 1 / -1;
	padding: 1rem;
}

img {
	height: 50vh;
}

a {
	color: white;
}

a:visited {
	color: hotpink;
}

a:hover {
	color: red;
}

p {
	color: gray;
}
