* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

footer,
header {
	grid-column: 1 / -1;
	padding: 2rem;
}

footer {
	align-items: center;
	background-color: black;
	display: flex;
	justify-content: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	height: 100vh;

}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d4544+0,000000+100 */
	background: #3d4544; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #3d4544 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #3d4544 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #3d4544 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d4544', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header {
	background: #04294A;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	font-family: 'Bree serif', serif;
	text-align: center;
}

nav ul {
	display: flex;
	justify-content:flex-end;
	margin-top: 2px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right:1rem;
	align-items:center;
	text-decoration: none;
	list-style-type: none;
	background: black;


}
	nav ul li {
		margin-right: 5px;
		text-decoration: none;
		color:white;
	}

img {
	height: 50vh;
	padding: 2rem;
}

a {
	color: white;
}


p {
	color: white;
	padding-left: 2rem;
}


.reviews-title {
	display: flex;
	align-content: center;
	padding-left: 3rem;
	padding-right: 3rem;
	flex-flow:row wrap;
  justify-content: space-around;
}

.category-title {
	display: flex;
	align-content: center;
	padding-left: 3rem;
	padding-right: 3rem;
	flex-flow:row wrap;
  justify-content: space-around;
}
.back-home {

}
