* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

header {
	background: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bree serif', serif;
	color: white;
	box-shadow: 5px 5px 5px white;
	text-align: center;
}


img {
	height: 50vh;
}

a {
	color: white;
}

a: visited {
	color: hotpink;
}

a: hover {
	color: red;
}

p {
	color: gray;
}
