<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Star Trek Review</title>
	<link rel="stylesheet" type="text/css" href="./styles.css"/>
</head>

	<body>
	
		<header>
		<h1 th:text="${category.categoryTitle}"></h1>
		</header>
		<nav>
			<ul>
				<li><a href="/categories">Categories</a></li>
				<li><a href="/reviews">Reviews</a></li>
			</ul>
		</nav>
		
		<div class="categoryStuff">
			<div th:each= "categoryThyme:${category.reviews}>
			<h2 th:text="${categoryThyme.title}"></h2>
			<h2 th:text="${categoryThyme.imageUrl}"></h2>
			<p th:text="${category.content}"></p>
				
		</div>
	
	</body>
</html>